<link rel="import" href="../node-message/node-message.html">
<link rel="import" href="../../decorators/node-post-deco/node-post-deco.html">

<polymer-element name="node-post" extends="node-message">
	<template>

		<node-post-deco data="{{data}}" txt="{{txt}}">

			<block-author data="{{ {name: data.author, id: data.author_id, email: data.author_email, avatar: data.avatar} }}"></block-author>

			<span class="created">{{data.created}}</span>
			<span class="modified">{{data.modified}}</span>

			<div id="message"></div>

			<template if="{{!+data.topic_id}}" repeat="{{tag in data.tags}}">
				<block-tag data="{{tag}}">{{tag.name}}</block-tag>
			</template>

		</node-post-deco>

	</template>

	<script>
		Polymer({

			observe:{
				'data.message':'setMessage'
			},

			setMessage:function(old, value){
				this.$.message.innerHTML = value;
			}
		})
	</script>
</polymer-element>