<link rel="import" href="../nodelist-base/nodelist-base.html">
<link rel="import" href="../node-topic/node-topic.html">

<polymer-element name="nodelist-topics" extends="nodelist-base">

	<template>

		<template repeat="{{ node in nodes }}">
			<node-topic data="{{node}}"></node-topic>
		</template>

	</template>

	<script>
		Polymer({

			sortField:'modified',


			created:function(){

				this.nodes = [];

				this.subscribe();

				this.addEventListener('topics-main', this.parseTopics);

				$(window).on('topics-main-update', this.parseTopics.bind(this))
			},


			subscribe:function() {

				t.connection.subscribe({
					subscriber:this,
					feedName:'topics-main',
					feed:{
						feed:'topics'
					}
				});
			},

			processItem:function(data){

				this.super(arguments);

			},


			parseTopics:function(event, topics){

				if (!this.nodes.length){
					// если это первичная загрузка

					// если мы заполняем массив первый раз - нужно его отсортировать
					this.nodes = this.sort(topics, this.sortField, this.sortOrder);

				} else {
					// если в массиве уже есть ноды

					for (var i = 0; i < topics.length; i++) {
						//processItem соблюдает сортировку самостоятельно
						this.processItem(topics[i])
					}
				}
			}
		})
	</script>

</polymer-element>