<link rel="import" href="../nodelist-base/nodelist-base.html">
<link rel="import" href="../node-topic/node-topic.html">

<polymer-element name="nodelist-topics" extends="nodelist-base" on-topic-select="{{topicSelect}}" on-tag-select="{{tagSelect}}">

	<template>
		<style>
			#scroll {
				padding: 15px 15px 1px 15px;
			}
		</style>

		<div id="scroll">
			<template repeat="{{ node in nodes }}">

				<node-topic data="{{node}}"></node-topic>

			</template>
		</div>

	</template>

	<script>
		Polymer({

			sortField: 'updated',


			created: function () {

				this.super();

				this.subscribe();

				$(window).on('topics-main-update', this.parseTopics.bind(this))
			},


			topicSelect:function(event, topicData){
				console.log('topic selected:',topicData.id)
			},


			tagSelect:function(event, topicData){
				console.log('tag selected:',topicData.id)
			},


			subscribe: function () {

				t.connection.subscribe({
					subscriber: this,
					feedName: 'topics-main',
					feed: {
						feed: 'topics'
					}
				});
			},

			/*processItem: function (data) {

				this.super(arguments);

			},*/


			parseTopics: function (event, topics) {

				if (!this.nodes.length) {
					// если это первичная загрузка

					// если мы заполняем массив первый раз - нужно его отсортировать
					this.nodes = this.sort(topics, this.sortField, this.sortOrder);

				} else {
					// если в массиве уже есть ноды

					for (var i = 0; i < topics.length; i++) {
						//processItem соблюдает сортировку самостоятельно
						this.processItem(topics[i])
					}
				}
			}
		})
	</script>

</polymer-element>