/* общие теги */
body {
	background:#cccccc;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

hr {
	color: #777777;
	background-color: #777777;
}

#mode_tabs{
	height:50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #888888;
	
	background-image: -webkit-gradient( linear, 0 100%, 0 0, from(#EEEEEE), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#EEEEEE');
	
	font-weight: bold;
}

#mode_tabs .tab {
	padding-top:17px;
	text-align: center;
	height: 33px;
}

#mode_tabs .active {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0097c3), to(#006699));
	background-image: -moz-linear-gradient(top, #0097c3, #006699);
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0, StartColorStr='#0097c3', EndColorStr='#006699');
	color: white;
}

.topic {
	background-color: white;
	border-bottom: 4px solid #cccccc;
	display:table-row;
}

.post {
	background-color: white;
	border-bottom: 4px solid #cccccc;
	display:table-row;
}

.infobar {
	padding: 4px 4px 0 4px;
}

.infobar .created {
	color:#aaaaaa;
}

.infobar .author, .lastpost .author {
	font-weight: bold;
	color:#006699;
}

.infobar .msgid {
	color:#dddddd;
}

.infobar .postsquant {
	color:#aaaaaa;
}

.topicname {
	font-weight:bold;
	padding: 4px;
}

.message {
	padding: 4px;
	
}

.lastpost {
	padding: 4px;
	border-top: 1px dashed #cccccc;
}

.topic .before_cell {
	display: none;
}

.data_cell {
	display: table-cell;
	width: 85%;
	border-bottom: 1px solid black;
}

.topic .after_cell {
	display: table-cell;
	width: 15%;
	background: #006699;
	border-bottom: 1px solid white;
}

.post .before_cell {
	display: table-cell;
	width:15%;
	background: #006699;
	border-bottom: 1px solid #006699;
}

.post .after_cell{
	display: none;
}

.activetopic {
	background-color: #e1ffe0;
}