body {
	background-color: #ddd;
	margin:0;
	padding:0;
	/*overflow-y: scroll;*/
	overflow-y: hidden;
	font-family: Tahoma, Arial, serif;
	font-size: 13px;
	color:#333;
}

#tinng-main {
	position:relative;
}

#tinng-main #curtain {
	background-color:black;
	opacity:0.5;
}

#tinng-main #dialogue {
	width: 50%;
	height: 70%;
	min-width: 500px;
	max-width: 800px;
	min-height: 400px;
	z-index: 810;
}

#tinng-main-header {
	height:36px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ccc;
}

#tinng-main-header .logo {
	display: inline-block;
	margin: 2px;
}

#tinng-units-area {
	max-width: 1210px;
	background-color: white;
	margin:0 auto;
	height:100%;
	/*border:solid #ccc;*/
	/*border-width: 0 1px;*/
}

#tinng-units-area .unit {
	float:left;
	height:100%;
}

#tinng-units-area .scroll-area {
	height:100%;
	position: relative;
}

#tinng-main .unit header {
	min-height: 28px;
	background-color: #bbb;
	border-right:1px solid #c5c5c5;
	position: relative;
}

#tinng-main .unit header:after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: black;
	position: absolute;
	bottom: -3px;
	opacity: 0.2;
	z-index: 10;
}

#tinng-main .unit.posts header {
	border:none;
}

#tinng-main .state-ind {
	height:17px;
	width: 16px;
	margin:9px 5px;
}

#tinng-main .state-ind.updating {
	background-image: url('/images/throbber.gif');
}

#tinng-main #loginForm {
	margin-top:5px;
}


/* topic */
#tinng-main .topic {
	padding: 10px;
	border:none;
	border-bottom:4px solid #ddd;
	cursor:pointer;
}

#tinng-main .topic .message {
	height: 2.5em;
	overflow-y: hidden;
}

#tinng-main .topic .created {
	 font-size: 11px;
}

#tinng-main .topic .author {
	margin-right:5px;
}

#tinng-main .topic .msgid {
	margin-right:5px;
	color:#ccc;
}

#tinng-main .topic .topicname {
	margin: 5px 0;
	font-size:15px;
	color:#777;
}

#tinng-main .topic .lastmessage > div {
	border-top:1px solid #ddd;
	margin-top: 5px;
	padding-top: 5px;
	height: 2.5em;
	overflow-y: hidden;
}


/* editor */
#tinng-main .editor-inner {
	padding:4px;
	background: #eee;
	border-top:1px solid #ddd;
}

#tinng-main .textarea {
	background: white;
	border:1px solid #ccc;
	padding:4px;
	margin-bottom:4px;
}

/* tags */
.tag {
	margin:7px 4px 0 0;
	border-radius: 2px;
}

