<link rel="import" href="../nodelist-base/nodelist-base.html">
<link rel="import" href="../node-post/node-post.html">


<polymer-element name="nodelist-posts" extends="nodelist-base">
	<template>
		<style>
			#scroll {
				padding: 15px 15px 1px 15px;
			}
		</style>

		<core-signals
			on-core-signal-topic-select="{{topicSelect}}"
			on-core-signal-add-message="{{addMessage}}"
		></core-signals>

		<div id="scroll">
			<template repeat="{{ node in nodes }}">

				<node-post data="{{node}}"></node-post>

			</template>
		</div>

	</template>

	<script>
		Polymer({
			selectedTopic:0,
			sortOrder:'asc',

			observe:{
				'selectedTopic':'subscribe'
			},

			created:function(){
				this.super();

				$(window).on('posts-main-update', this.parsePosts.bind(this))
			},

			subscribe:function(){
				this.nodes = [];

				t.connection.unscribe(this, 'posts-main');

				t.connection.subscribe({
					subscriber: this,
					feedName: 'posts-main',
					feed:{
						feed:'posts',
						limit:50,
						topic: this.selectedTopic
					}
				})
			},

			topicSelect:function(event, details){

				this.loading = true;

				this.selectedTopic = details.id;
			},

			addMessage: function(event, message){
				if (!!this.selectedTopic) {
					t.connection.write({
						action:'add_post',
						topic: this.selectedTopic,
						message: message
					})
				}
			},

			parsePosts:function(event, posts){

				this.loaded = true;
				this.loading = false;

				var firstLoad = !this.nodes.length;

				if (firstLoad) {
					// если это первичная загрузка

					// если мы заполняем массив первый раз - нужно его отсортировать
					this.nodes = this.sort(posts, this.sortField, this.sortOrder);

				} else {
					// если в массиве уже есть ноды
					console.log('processing new post', posts)

					if (posts instanceof Array){
						for (var i = 0; i < posts.length; i++) {
							//processItem соблюдает сортировку самостоятельно
							this.processItem(posts[i])
						}
					} else {
						for (var i in posts) {
							this.processItem(posts[i])
						}
					}


				}

				if (firstLoad || this.isAtBottom()) {
					this.async(this.toBottom)
				}
			}
		})
	</script>
</polymer-element>