<link rel="import" href="../block-author/block-author.html">
<link rel="import" href="../block-tag/block-tag.html">

<polymer-element name="node-message" extends="node-base" attributes="data" touch-action="pan-y">
	<template>

		<style>
			:host {
				display: block;
			}
		</style>

	</template>

	<script>
		Polymer({
			txt: t.txt,

			ID:0,

			publish:{
				unread:{value:false, reflect:true},
				selected:{value:false, reflect:true}
			},

			created:function(){
				this.data = {};
			}
		})
	</script>
</polymer-element>