body {
  padding:0;
  margin:0;
}
hr {
  border:0 none;
  height:1px;
}
a {
  cursor:pointer;
  text-decoration:none;
}
a:hover { text-decoration:underline; }
img { border:0; }
p { margin:0; }
#curtain { z-index:800; }
#over_curtain { z-index:810; }
#over_curtain .window { margin:auto; }
#curtain, #over_curtain {
  position:absolute;
  width:100%;
}
#dialogue-wrapper {
  z-index:800;
  height:100%;
  width:100%;
  position:absolute;
  display:none;
}
#curtain { height:100%; }
#dialogue {
  position:absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:810;
}
#dialogueInner {
  height:100%;
  overflow-y:auto;
}
#dialogue section { background-color:white; }
#app_area { overflow:hidden; }
#app_block {
  width:100%;
  height:100%;
}
.global_column { vertical-align:top; }
.global_column .titlebar {
  background-position:3px 3px;
  background-repeat:no-repeat;
}
.global_column .statusbar { overflow-y:auto; }
.column_inner .contents {
  overflow-y:scroll;
  overflow-x:hidden;
}
.vport_resizer { cursor:e-resize; }
.collapsed { cursor:pointer; }
.collapsed .column_inner { display:none; }
.collapser {
  float:left;
  cursor:pointer;
}
.left { float:left; }
.right { float:right; }
.none { display:none; }
.virtual {
  position:absolute !important;
  overflow:hidden !important;
  width:0 !important;
  min-width:0 !important;
  height:0 !important;
  min-height:0 !important;
  border:0 !important;
  margin:0 !important;
  padding:0 !important;
}
.invis, .invisible { visibility:hidden; }
.clearboth, .clearfix { clear:both; }
.clickable { cursor:pointer; }
.reveal, .reveal2, .reveal3 { visibility:hidden; }
.revealer:hover .reveal, .revealer2:hover .reveal2, .revealer3:hover .reveal3 { visibility:visible; }
.red { background-color:red; }
.blue { background-color:blue; }
.green { background-color:green; }
.dim { background-color:#eee; }
.subtext {
  color:#888;
  font-size:10px;
}
.subtext a {
  color:#555;
  font-size:10px;
}
.w80 { width:80%; }
.w50 { width:50%; }
.pointer { cursor:pointer; }
.e_resize { cursor:e-resize; }
.clear {
  cursor:auto;
  background:transparent;
}
.noselect {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.noselect .shadow {
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.control { cursor:pointer; }
#debug_console { height:140px; }
#debug_console div {
  border:2px solid red;
  padding:8px;
  height:120px;
  overflow:auto;
}
.tags .tag {
  float:left;
  position:relative;
}
.baloon {
  position:absolute;
  z-index:100;
  top:0;
  left:0;
}
.suggest_field { position:relative; }
.suggest {
  z-index:200;
  position:absolute;
}
#top_bar { background:#eee; }
.button {
  border:1px dashed black;
  background-color:#eee;
  padding:2px 4px;
  cursor:pointer;
  display:inline-block;
}
.button.left { margin-right:4px; }
.button.right { margin-left:4px; }
.button:hover { background-color:#ccc; }
.button:active { background-color:#aaa; }
.caption { background-color:#aaa; }
.post, .topic {
  border:1px solid white;
  border-bottom:1px solid #ccc;
}
.topicname { font-weight:bold; }
.tag {
  background:#777;
  color:white;
  margin:2px;
  padding:1px 3px;
}
.infobar { color:#777; }
.selected { border:1px solid red; }
.author {
  color:black;
  font-weight:bold;
}
.unit .scroll-area { overflow-y:scroll; }
#tinng-main .editor {
  position:fixed;
  bottom:0;
}
.throbber {
  width:16px;
  height:16px;
  opacity:0.6;
  background:url(../../stock/images/throbber_0.gif) no-repeat;
}
.throbber.updating { background:url(../../stock/images/throbber_1.gif) no-repeat; }
input[type="button"], input[type="submit"] { cursor:pointer; }
body {
  overflow-y:hidden;
  font-family:Tahoma, Arial, serif;
  font-size:13px;
  margin:0;
  padding:0;
  background-color:#d9d9d9;
  color:#333;
}
#tinng-main { position:relative; }
#curtain {
  background-color:#000;
  opacity:0.7;
  -moz-opacity:0.7;
  -khtml-opacity:0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#dialogue {
  width:50%;
  margin:100px auto 80px auto;
  min-width:500px;
  max-width:800px;
  min-height:200px;
}
#dialogue header {
  height:28px;
  position:absolute;
  width:100%;
  background-color:white;
  top:-28px;
}
#dialogue header .title {
  margin-right:30px;
  padding:9px 0 0 14px;
  font-weight:bold;
  font-size:120%;
  color:#676767;
  overflow:hidden;
}
#dialogue header .close {
  position:absolute;
  top:0;
  right:0;
  display:block;
  width:20px;
  height:20px;
  font-size:150%;
  font-weight:bold;
  text-decoration:none;
  color:#777;
  padding:4px;
  text-align:center;
  line-height:90%;
}
#dialogue header .close:hover {
  color:white;
  background-color:#bbb;
}
#dialogue section { padding:15px; }
#decoration-area {
  margin:0 auto;
  position:relative;
  height:38px;
  max-width:1210px;
  min-width:900px;
  width:80%;
}
#tinng-main-header .logo {
  display:inline-block;
  position:absolute;
  bottom:2px;
  left:0;
}
#tinng-main-header .logo img { height:28px; }
#tinng-main-header .top-panel {
  height:28px;
  background-color:#222;
  color:white;
}
#tinng-main-header .top-panel a { color:#56c4ff; }
#tinng-main-header .top-panel .button-link {
  display:inline-block;
  height:28px;
}
#tinng-main-header .top-panel .button-link:hover {
  text-decoration:none;
  background-color:#444;
}
#tinng-main-header .top-panel .button-link span {
  display:block;
  padding:5px 8px;
}
#tinng-main-header .top-panel .signature {
  display:inline-block;
  color:#bbb;
  text-decoration:none;
  padding-left:10px;
}
#tinng-main-header .top-panel .signature img {
  height:20px;
  margin-top:4px;
  vertical-align:bottom;
}
#tinng-main-header .top-panel .avatar {
  height:26px;
  display:inline-block;
  vertical-align:middle;
  margin-right:8px;
}
#tinng-main-header .top-panel .notification_perm_request {
  display:none;
  color:orange;
  margin:5px 10px 0 0;
}
#tinng-main-content {
  position:relative;
  overflow:hidden;
}
.unit-panel {
  position:absolute;
  height:100%;
  width:250px;
  z-index:100;
  background-color:#ddd;
}
.unit-panel.closed .unit .flags { display:block; }
.unit-panel .unit-portal {
  height:100%;
  background-color:white;
}
.unit-panel .label {
  position:absolute;
  top:30px;
  background-color:#222;
  color:#ddd;
  width:24px;
  height:100px;
  cursor:pointer;
  overflow:hidden;
  z-index:150;
}
.unit-panel .label .text {
  position:absolute;
  top:40px;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
  font-family:sans-serif;
}
.unit-panel .close {
  cursor:pointer;
  position:absolute;
  top:0;
  height:100%;
  width:10px;
  background-repeat:no-repeat;
  background-position:center center;
}
.unit-panel .close:hover { background-color:#999; }
.unit-panel .open {
  position:absolute;
  top:0;
  width:10px;
  height:100%;
  cursor:pointer;
  background-color:#fff;
  z-index:50;
  opacity:0;
  -moz-opacity:0;
  -khtml-opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.unit-panel .open:hover {
  opacity:0.1;
  -moz-opacity:0.1;
  -khtml-opacity:0.1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=10)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
}
.unit-panel.panel-left {
  left:0;
  box-shadow:2px 0 40px #000;
}
.unit-panel.panel-left .label { right:-24px; }
.unit-panel.panel-left .label .text {
  -ms-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform:rotate(270deg);
}
.unit-panel.panel-left .close {
  left:0;
  background-image:url(../../skins/clarity/images/collapse_bar_left.png);
}
.unit-panel.panel-left .open { right:-10px; }
.unit-panel.panel-left .unit-portal { margin-left:10px; }
.unit-panel.panel-right {
  right:0;
  box-shadow:-2px 0 40px #000;
}
.unit-panel.panel-right .label { left:-24px; }
.unit-panel.panel-right .label .text {
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}
.unit-panel.panel-right .close {
  right:0;
  background-image:url(../../skins/clarity/images/collapse_bar_right.png);
}
.unit-panel.panel-right .open { left:-10px; }
.unit-panel.panel-right .unit-portal { margin-right:10px; }
.scroll-area {
  height:100%;
  position:relative;
}
.scroll-area.loading {
  background-image:url('../../stock/images/throbber_big.gif');
  background-repeat:no-repeat;
  background-position:center center;
}
.cke.cke_chrome {
  border:none;
  box-shadow:none;
}
.cke .cke_top {
  background:transparent;
  box-shadow:none;
  padding:0 0 1px 0;
  border:none;
}
.cke .cke_bottom {
  background:transparent;
  box-shadow:none;
  padding:0 0 1px 0;
  border:none;
}
.cke .cke_bottom .cke_toolgroup { margin:5px 6px 0 0; }
.cke .cke_contents {
  border:1px solid;
  border-color:#ccc #ccc #eee #ccc;
  min-height:30px;
  overflow-y:auto;
  max-height:350px;
}
.cke .cke_toolgroup {
  border-radius:0;
  border:none;
  box-shadow:none;
  background:#fff;
}
.cke a.cke_button {
  padding:2px 5px;
  cursor:pointer;
}
.cke a.cke_button:hover {
  background:#eee;
  box-shadow:none;
}
.cke a.cke_button span { cursor:pointer; }
.cke a.cke_button_disabled { cursor:default; }
.cke a.cke_button_disabled:hover { background:transparent; }
.cke a.cke_button_disabled span { cursor:default; }
.cke a.cke_button_on {
  background:#d7d7d7;
  box-shadow:none;
}
.cke .cke_wysiwyg_div { padding:7px; }
.cke .cke_source {
  background:#333;
  color:#ddd;
  display:block;
  padding:4px 0;
}
.cke .cke_toolbar_separator { margin:2px 2px 0; }
.textarea-wrapper .cke .cke_top { background:#eee; }
.textarea-wrapper .cke .cke_bottom { background:#eee; }
.textarea-wrapper .cke .cke_contents { border-color:#ccc #ccc #ddd #ccc; }
.textarea-wrapper .cke .cke_toolgroup { background:#eee; }
.textarea-wrapper .cke a.cke_button:hover { background:#f8f8f8; }
.node .cke .cke_wysiwyg_div { padding:3px; }
.node .cke .cke_contents { min-height:20px; }
.unit {
  height:100%;
  position:relative;
}
.unit.moderable .ui-draggable .infobar { cursor:move; }
.unit.dialogue .avatar .isOnline { display:none; }
.unit header {
  min-height:28px;
  background-color:#0e5a91;
  border-right:1px solid;
  border-color:#1a69a8;
  position:relative;
  color:#fff;
}
.unit header .settingsBtn {
  display:none;
  position:absolute;
  top:0;
  right:0;
}
.unit header .settingsBtn .button { margin:4px 3px 0 0; }
.unit header .settingsBtn .dropmenu {
  top:25px;
  right:3px;
  color:#555;
}
.unit header .title {
  font-size:110%;
  padding:2px 4px;
  font-weight:bold;
}
.unit header .button {
  border-radius:0;
  border:none;
  color:white;
  margin:1px;
}
.unit header .button:hover, .unit header .button.hover { background-color:#2b7cbd; }
.unit header .button:active {
  background-color:#084978;
  opacity:1;
  -moz-opacity:1;
  -khtml-opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.unit header .topicname {
  font-size:110%;
  padding:2px 4px;
  border:1px dotted transparent;
  min-width:200px;
  max-height:100%;
  margin-left:2px;
  margin-right:53px;
}
.unit header .topicname[contenteditable="true"] {
  background-color:white;
  color:#444;
  border-color:#aaa;
  min-height:18px;
}
.unit header .topicname .dialogueWrap {
  position:relative;
  display:inline-block;
}
.unit header .topicname .userItem {
  background-color:transparent;
  position:absolute;
  top:-19px;
}
.unit header .topicname .userItem .avatarWrap {
  position:absolute;
  top:0;
  left:3px;
}
.unit header .topicname .userItem .isOnline { border-color:#0e5a91; }
.unit header .topicname .userItem .name {
  color:white;
  padding-left:30px;
  white-space:nowrap;
}
.unit header .trashBin {
  position:absolute;
  right:0;
  top:0;
  width:0;
  height:0;
  z-index:100;
  background:#ccc url(../../skins/clarity/images/icons/trash.png) center center no-repeat;
}
.unit header .trashBin.acceptable {
  border:2px dashed #777;
  width:60px;
  height:60px;
  margin-bottom:5px;
}
.unit header .trashBin.ready { border-style:solid; }
.unit header .allowedUsers .allowedUsersContainer {
  min-height:27px;
  background-color:#fff;
  clear:both;
  border:2px dashed transparent;
  margin-top:3px;
  overflow-x:hidden;
  padding-right:60px;
  display:none;
}
.unit header .allowedUsers .allowedUsersContainer.private { display:block; }
.unit header .allowedUsers.acceptable .allowedUsersContainer {
  border-color:#ffbc1c;
  display:block;
}
.unit header .allowedUsers.ready .allowedUsersContainer { border-style:solid; }
.unit header .allowedUsers .userItem {
  float:left;
  margin-right:1px;
  cursor:move;
  padding:1px;
}
.unit header .allowedUsers .userItem .avatar {
  display:block;
  width:25px;
  height:25px;
}
.unit header .allowedUsers .userItem .name { display:none; }
.unit.with-settings .settingsBtn { display:block; }
.unit.with-settings .header-panel { margin-right:28px; }
.unit.posts header { border:none; }
.unit.users .appends { display:block; }
.unit.users .unreadLabel {
  background-color:#09ba00;
  color:white;
  padding:2px 4px;
  border-radius:2px;
  display:none;
}
.unit.users .offlineList .userItem .name { color:#999; }
.unit.users .offlineList .userItem .avatar {
  opacity:0.5;
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.unit.users .isOnline { display:none; }
.unit.users .flags {
  position:absolute;
  min-height:40px;
  width:40px;
  left:-40px;
  top:180px;
  display:none;
}
.unit.users .flag {
  width:40px;
  height:40px;
  overflow:hidden;
  background:#09ba00 no-repeat center 4px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  border-radius:4px 0 0 4px;
  cursor:pointer;
  opacity:0.8;
  -moz-opacity:0.8;
  -khtml-opacity:0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.unit.users .flag.messages { background-image:url(../../skins/clarity/images/icons/message.png); }
.unit.users .flag .text {
  text-align:center;
  padding:18px 5px 0 5px;
}
.unit.navigation .tagArea {
  background-color:#fff;
  padding:8px;
}
.userItem {
  background-color:#fff;
  cursor:pointer;
  padding:1px 3px;
}
.userItem .name {
  padding:3px 6px;
  font-weight:bold;
  color:#1a69a8;
  float:left;
}
.userItem .isOnline {
  width:4px;
  height:4px;
}
.userItem .avatarWrap {
  float:left;
  position:relative;
}
.userItem .avatar {
  width:25px;
  height:25px;
  float:left;
}
.userItem.ui-draggable-dragging {
  z-index:1000;
  border:1px solid #1a69a8;
  padding:3px;
}
.userItem .appends {
  display:none;
  float:left;
}
#tinng-units-area {
  background-color:white;
  margin:0 auto;
  height:100%;
  max-width:1210px;
  min-width:900px;
  width:80%;
}
#tinng-units-area .unit { float:left; }
#tinng-main-footer { height:15px; }
#tinng-top-login input[type="text"], #tinng-top-login input[type="password"] {
  border:0;
  padding:2px 5px;
  margin:0 2px;
  color:white;
  background-color:#777;
}
#tinng-top-login input[type="checkbox"] {
  margin:0 3px 3px 3px;
  vertical-align:middle;
}
#doLogin {
  margin:10px;
  padding:4px 8px;
  cursor:pointer;
}
.unit header::after, .topics footer::after, .editor::after {
  content:'';
  width:100%;
  height:3px;
  background-color:#555;
  position:absolute;
  opacity:0.2;
  z-index:10;
}
.unit header::after { bottom:-3px; }
.topics footer::after { bottom:0; }
.editor::after { top:-3px; }
.state-ind { margin:6px 6px 0 5px; }
.node {
  border:0px solid transparent;
  margin-bottom:4px;
  background-color:white;
  position:relative;
}
.node .tags .tag { margin:7px 4px 0 0; }
.node img {
  max-width:100%;
  height:auto !important;
}
.node .smart-search { margin:0; }
.node .smart-search input[type="text"] {
  border:1px solid #ccc;
  width:100px;
  margin:6px 0 0;
}
.node .smart-search .smart-area .tag {
  margin:7px 4px 0 0;
  padding:2px 4px;
}
.node .smart-search .suggest-box .tag { float:none; }
.node .data_cell { padding:10px; }
.node .msgid {
  margin-right:5px;
  color:#ccc;
}
.node .author { margin-right:5px; }
.node .tags-edit { display:none; }
.node .menuBtn {
  width:16px;
  height:16px;
  margin-left:5px;
  background:url(../../skins/clarity/images/menu_drop.png);
  position:relative;
}
.node .menuBtn:hover { background-color:#eee; }
.node.topic {
  cursor:pointer;
  border-left-width:10px;
}
.node.topic.acceptable .data_cell {
  border-color:#ffbc1c;
  border-style:dashed;
}
.node.topic.acceptable .infobar, .node.topic.acceptable .topicname, .node.topic.acceptable .message, .node.topic.acceptable .lastmessage, .node.topic.acceptable .tags {
  opacity:0.5;
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.node.topic.ready .data_cell {
  border-style:solid;
  background-color:#fff8e8;
}
.node.topic.active {
  border-color:#9acd32;
  background-image:url(../../skins/clarity/images/active_topic_pointer.png);
  background-repeat:no-repeat;
  background-position:left center;
}
.node.topic .data_cell {
  padding:8px 8px 8px 18px;
  border:2px solid transparent;
}
.node.topic .message {
  height:2.5em;
  overflow-y:hidden;
  font-size:85%;
}
.node.topic .created { font-size:11px; }
.node.topic .topicname {
  margin:5px 0;
  font-size:14px;
  color:#007bb7;
}
.node.topic .private {
  background-color:#999;
  color:#fff;
  padding:2px 5px;
  font-size:80%;
  font-weight:normal;
  margin-left:5px;
}
.node.topic .lastmessage > div {
  border-top:1px solid #ddd;
  margin-top:5px;
  padding-top:5px;
  height:2.5em;
  overflow-y:hidden;
  font-size:85%;
}
.node.post {
  border-right-width:10px;
  min-width:520px;
  max-width:750px;
}
.node.post.ui-draggable-dragging {
  border:1px solid #007bb7;
  z-index:100;
}
.node.post.ui-draggable-dragging .infobar { cursor:move !important; }
.node.post.selected { border-color:#9acd32; }
.node.post .data_cell { padding-left:58px; }
.node.post .infobar {
  border-bottom:1px solid #ddd;
  margin-bottom:6px;
  padding-bottom:3px;
}
.node.post .infobar .avatar {
  position:absolute;
  top:0;
  left:0;
}
.node.post .infobar .avatar img {
  width:50px;
  height:50px;
  display:block;
}
.node.post .controls {
  margin-bottom:-5px;
  margin-right:-5px;
}
.node.post .controls2 {
  position:absolute;
  bottom:7px;
  right:7px;
  width:40%;
}
.node.post .message {
  border:1px solid;
  border-color:transparent;
  padding:3px;
}
.node.post .message[contenteditable="true"] {
  border-color:#aaa;
  border-style:dotted;
}
.node.unread {
  border-color:#ffbc1c;
  background-color:#fff6df;
}
.content {
  padding-top:3px;
  background-color:#ddd;
}
.content.middle .topic .lastmessage { display:none !important; }
.content.middle .topic .data_cell { padding:3px 8px 7px 18px; }
.content.middle .topic .topicname {
  margin:2px 0 4px;
  font-size:13px;
}
.content.middle .topic .topicname .private { font-size:85%; }
.content.middle .topic .author, .content.middle .topic .postsquant { font-size:11px; }
.content.middle .topic .tag {
  margin:4px 4px 0 0;
  padding:0 6px 2px 4px;
}
.content.middle .topic .message {
  color:#888;
  height:1.3em;
}
.content.short .topic.active { background-position:-4px center; }
.content.short .topic .created, .content.short .topic .parent, .content.short .topic .author, .content.short .topic .msgid, .content.short .topic .postsquant, .content.short .topic .message, .content.short .topic .lastmessage, .content.short .topic .tags { display:none !important; }
.content.short .topic .infobar {
  position:absolute;
  right:4px;
  top:6px;
}
.content.short .topic .topicname {
  margin:0;
  font-size:12px;
}
.content.short .topic .topicname .private { font-size:85%; }
.content.short .topic .data_cell { padding:8px 22px 8px 12px; }
.dropmenu {
  position:absolute;
  background-color:#fff;
  min-height:10px;
  min-width:80px;
  border:1px #ccc solid;
  z-index:100;
  right:0;
}
.dropmenu .button { display:block; }
.dropmenu .settings-group {
  padding:6px;
  border-bottom:1px solid #eee;
}
.dropmenu .settings-group:last-child { border:0; }
.dropmenu .settings-group h4 {
  margin:3px 0 1px;
  padding:0 7px;
  color:#777;
  font-weight:normal;
  white-space:nowrap;
  font-size:85%;
}
.dropmenu label {
  display:block;
  white-space:nowrap;
  padding:4px;
  cursor:pointer;
}
.dropmenu label:hover { background-color:#eee; }
.dropmenu label input[type="radio"] {
  margin:3px 3px 1px 3px;
  vertical-align:bottom;
}
.isOnline {
  position:absolute;
  bottom:0;
  right:0;
  border:solid white;
  border-width:1px 0 0 1px;
  width:6px;
  height:6px;
  background-color:#9acd32;
  display:none;
}
.topic-edit {
  background-color:#fff;
  padding-top:5px;
}
.topic-edit .row { margin:20px; }
.topic-edit label {
  display:block;
  margin-right:20px;
}
.topic-edit label span {
  font-size:85%;
  color:#777;
}
.topic-edit .title {
  font-size:120%;
  font-weight:bold;
  padding:0.3em 0.5em;
  border:1px solid;
  border-color:#ccc #ccc #eee #ccc;
  width:100%;
}
.topic-edit textarea {
  width:100%;
  min-height:20px;
  padding:0.3em 0.5em;
  border:1px solid;
  border-color:#ccc #ccc #eee #ccc;
  font-family:sans-serif;
}
.topic-edit .smart-search input[type="text"] {
  padding:0.3em 0.5em;
  border:1px solid;
  border-color:#ccc #ccc #eee #ccc;
}
.topic-edit .smart-search .smart-area .tag {
  margin-right:7px;
  padding:4px 7px;
}
#scaled-bg {
  position:fixed;
  z-index:-1;
  top:28px;
}
.posts .showmore {
  height:20px;
  text-align:center;
  padding-top:7px;
  background-color:#ddd;
  display:none;
}
.posts .showmore a { margin:0 5px; }
#tinng-main .editor { bottom:15px; }
#tinng-main .editor .handle {
  margin:-4px auto 0;
  width:30px;
  height:3px;
  background:#ccc;
  border:2px solid #eee;
  cursor:ns-resize;
}
.editor-inner {
  padding:4px;
  background:#eee;
  border-top:1px solid #ddd;
}
.textarea-wrapper { background:white; }
.submitWrap {
  position:absolute;
  bottom:6px;
  right:4px;
}
.textarea {
  padding:4px 6px;
  min-height:1.4em;
}
blockquote {
  margin:2px 0;
  padding:5px 7px 5px 25px;
  background:#eee url("../../skins/clarity/images/icons/quote.png") no-repeat 4px 4px;
  border:1px solid #ddd;
}
blockquote cite {
  display:block;
  font-style:normal;
  font-size:11px;
  color:#888;
  margin:-4px 0 3px 1px;
}
blockquote footer { display:none; }
.tag {
  margin:1px 4px 1px 0;
  border-radius:2px;
  display:inline-block;
  background-color:#d0e7ff;
  color:#3f6c9a;
  padding:2px 4px;
  border-radius:0;
  position:relative;
}
.tag .close {
  cursor:pointer;
  opacity:0.5;
}
.tag .close:hover { opacity:1; }
.tag.operational .name { padding-left:12px; }
.tag .operation {
  background:white;
  color:#777;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:11px;
  text-align:left;
}
.tag.unused {
  opacity:0.5;
  -moz-opacity:0.5;
  -khtml-opacity:0.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.panel {
  padding:3px;
  min-height:24px;
}
.button {
  background-color:transparent;
  border:0;
  font-size:90%;
  padding:4px 6px;
  opacity:0.8;
  background-position:3px 3px;
  background-repeat:no-repeat;
  height:14px;
  color:black;
  position:relative;
  white-space:nowrap;
}
.button.with-icon { padding-left:17px; }
input[type="submit"], input[type="button"] { height:auto; }
input[type="button"] { background-color:#eee; }
.button:hover, .button.hover {
  border-color:#ccc;
  background-color:#eaeaea;
  opacity:1;
}
.button:active {
  border-color:#ccc;
  background-color:#eee;
  opacity:1;
}
.button span { margin-left:4px; }
.button .tip {
  position:absolute;
  opacity:0.9;
  z-index:2000;
}
.button.left .tip { left:0; }
.button.right .tip { right:0; }
.button.left .tip .tail { background-position:left bottom; }
.button.right .tip .tail { background-position:right bottom; }
.button .tip .body {
  background:black;
  color:white;
  font-weight:bold;
  font-size:90%;
  white-space:nowrap;
  padding:3px 6px;
  border-radius:2px;
}
.button .tip .tail {
  height:5px;
  background:url('../../skins/clarity/images/tip-tail.gif') no-repeat center bottom;
}
.button.submit, .button.submit:active {
  opacity:1;
  color:white;
  font-weight:bold;
  border-color:#004162;
  background-image:-webkit-linear-gradient(top,#007bb7,#006299);
  background-color:#006299;
  background-position:top left;
  text-shadow:1px 1px #004162;
}
.button.submit:hover, .button.submit.hover {
  background-image:-webkit-linear-gradient(top,#018bd3,#007bb7);
  background-color:#007bb7;
  border-color:#006299;
}
.unit header .button .tip { opacity:0.7; }
.button.blocked, .button.blocked:hover, .button.blocked:active {
  cursor:default;
  opacity:0.4 !important;
  border-color:transparent !important;
  background-color:transparent !important;
}
.editor .title { display:none; }
.posts-default {
  background-color:white;
  text-align:center;
  padding:180px 20px 20px 20px;
  color:#777;
}
.user-reg input[type="text"], .user-reg input[type="password"] {
  border:1px solid #ccc;
  padding:2px 4px;
}
#message-bar {
  z-index:1000;
  width:100%;
  position:absolute;
  top:0;
  display:none;
  cursor:pointer;
  background-color:#eee;
  border-bottom:1px solid #777;
}
#message-bar .message {
  margin:0 auto;
  padding:10px 0;
  height:16px;
  overflow:hidden;
  max-width:1210px;
  min-width:900px;
  width:80%;
}
.dimmed { opacity:0.3; }
.dimmed:hover { opacity:1; }
#passForget { cursor:pointer; }
#tinng-main.low-res #tinng-main-header .logo { bottom:1px; }
#tinng-main.low-res #tinng-main-header .logo img { height:21px; }
#tinng-main.low-res #decoration-area { height:0; }
#tinng-main.low-res #tinng-main-footer { height:0; }
#tinng-main.low-res .editor { bottom:0; }
#tinng-main.low-res.low-width #tinng-main-header .signature { display:none; }
#tinng-main.low-res #dialogue {
  width:65%;
  margin:60px auto 35px auto;
}
#tinng-main.high-res #tinng-main-header .logo { bottom:4px; }
#tinng-main.high-res #tinng-main-header .logo img { height:40px; }
#tinng-main.high-res #decoration-area { height:70px; }
#tinng-main.high-res #dialogue { margin:140px auto 110px auto; }
.smart-search {
  background-color:#fff;
  margin:1px 0 0 1px;
  position:relative;
}
.smart-search input {
  border:0;
  background:transparent;
  vertical-align:middle;
  padding:1px 3px;
}
.smart-search .throbber {
  display:inline-block;
  margin:0 4px;
  vertical-align:middle;
  visibility:hidden;
}
.smart-search .smart-area {
  display:inline-block;
  vertical-align:middle;
}
.smart-search .smart-area .tag {
  margin:0 0 0 2px;
  padding:1px 3px;
}
.smart-search .suggest-box {
  position:absolute;
  min-width:80px;
  max-width:250px;
  min-height:10px;
  max-height:400px;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#fff;
  box-shadow:0 3px 10px #bbb;
  z-index:100;
  display:none;
}
.smart-search .suggest-box .item.active { background-color:#018bd3; }
.smart-search .suggest-box .tag {
  cursor:pointer;
  margin:5px 8px;
}
