/* общие теги */
body	{ padding:0; margin:0; font:13px Arial,serif;}
hr		{ border: 0 none; height: 1px; }
a		{cursor:pointer;}
a:hover {text-decoration: underline;}

/* черная занавеска и окно на ней */
#curtain		{ z-index:800; }
#over_curtain	{ z-index:810; }
#over_curtain .window	{ margin: auto; }
#curtain, #over_curtain	{ position:absolute; width:100%; }

/* основное окно программы */
#app_area	{ overflow: hidden; }
#app_block	{ width:100%; height:100%; }

/* вьюпорт */
.global_column { vertical-align:top; }
.global_column .titlebar {
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

.global_column .statusbar {overflow-y:auto;}
.column_inner .contents{ overflow-y:scroll; overflow-x:hidden; }

/* инструменты изменения размера и сворачивания */
.vport_resizer { cursor: e-resize; }

.collapsed { cursor:pointer; }
.collapsed .column_inner { display: none; }
.collapser { float:left; cursor:pointer; }

/* универсальные классы*/
.left		{ float:left; }
.right		{ float:right; }
.none		{ display: none; }
.invis		{ visibility: hidden; }
.clearboth	{ clear:both; }

.reveal, .reveal2, .reveal3 { visibility: hidden; }
.revealer:hover .reveal, .revealer2:hover .reveal2, .revealer3:hover .reveal3 { visibility: visible; }

.red		{ background-color: red; }
.blue		{ background-color: blue; }
.green		{ background-color: green; }
.dim		{ background-color: #eeeeee;}

.subtext	{ color:#888888; font-size: 10px; }
.subtext a	{ color:#555555; font-size: 10px; }

.w80		{ width: 80%; }
.pointer	{ cursor: pointer; }
.e_resize	{ cursor: e-resize; }
.clear		{ cursor:auto; background:transparent; }

.noselect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-color:#AAAAAA;
}

.noselect .shadow {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

/* дебаг и консоль */
#debug_console { height:140px; }

#debug_console div {
	border:2px solid red;
	padding:8px;
	height:120px;
	overflow:auto;
}

.tags .tag {
	float:left;
	position: relative;
}

.baloon {
	position: absolute;
	z-index: 100;
	top:0;
	left:0;
}

.suggest_field {
	position: relative;
}

.suggest {
	z-index: 200;
	position: absolute;
}

/* basic desidn */
#top_bar {
	background: #eee;
}

.button {
	border:1px dashed black;
	background-color: #eee;
	padding: 2px 4px;
	margin: 3px;
	cursor: pointer;
}

.button:hover {
	background-color: #ccc;
}

.button:active {
	background-color: #aaa;
}

.caption {
	background-color: #aaa;
}

.post, .topic {
	border:1px solid white;
	border-bottom:1px solid #ccc;
}

.topicname {
	font-weight: bold;
}

.tag {
	background: #777;
	color:white;
	margin: 2px;
	padding: 1px 3px;
}

.infobar {
	color:#777;
}

.selected {
	border:1px solid red;
}

.author {
	color:black;
	font-weight: bold;
}