/*
    Document   : main_interface_ie
    Created on : 22.02.2011, 22:41:36
    Author     : Lerayne
    Description:
        Purpose of the stylesheet follows.
*/
.vport_resizer, .resizer_off {
	width: 9px;
}

#viewport_menu {
	width:15%;
	min-width:150px;
}

#viewport_topics {
	width:40%;
	min-width:300px;
}

#viewport_posts {
	min-width:300px;
}
