* {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

body {
	padding:0;
	margin:0;
	background:#CCCCCC;
}

hr {
	background-color: #666666;
    border: 0 none;
    color: #666666;
    height: 1px;
}

.noselect .shadow {
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#main {
	overflow: hidden;
}

#main_menu {
	height:32px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #888888;

	background-image: -webkit-gradient( linear, 0 100%, 0 0, from(#EEEEEE), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#EEEEEE');
}

#main_menu #user_panel {
	float: right;
	padding: 5px 10px 0 10px;
	padding-bottom:0;
}

#main_menu #logo {
	color:#006699;
	font-size: 18px;
	float:left;
	padding: 4px;
}

#main_menu #right_pan {
	float:right;
}

#main_menu #left_pan {
	float:left;
}

.button {
	padding-left: 24px;
	height: 24px;
	margin: 3px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	border-style: solid;
	border-width: 1px;
	border-color:#CCCCCC;

	background-position: 4px 4px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.button span {
	padding: 4px 5px 0 1px;
	display:block;
}

.button:hover {
	border-color:#999999;
	background-color:#eeeeee;
}

.button:active span, .btn_active span {
	padding: 5px 4px 0 2px;
	display:block;
}

.btn_active, .button:active {
	border-color:#999999;
	background-color:#e5e5e5;

	box-shadow:inset 1px 1px 4px #999999;
	-moz-box-shadow:inset 1px 1px 4px #999999;
	-webkit-box-shadow:inset 1px 1px 4px #999999;
	
	background-position: 5px 5px;
}

.sbtn {
	padding-left: 18px;
	height: 18px;
	margin-left: 3px;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	border-style: solid;
	border-width: 1px;
	border-color:#CCCCCC;

	background-color: white;
	background-position: 1px 1px;
	background-repeat: no-repeat;
}

.sbtn span {
	padding: 2px 5px 0 1px;
	display:block;
	color:#555555;
}

.sbtn:hover {
	border-color:#999999;
	background-color:#eeeeee;
	cursor: pointer;
}

.sbtn:active span, .sbtn_active span {
	padding: 3px 4px 0 2px;
	display:block;
}

.sbtn_active, .sbtn:active {
	border-color:#999999;
	background-color:#e5e5e5;

	box-shadow:inset 1px 1px 3px #999999;
	-moz-box-shadow:inset 1px 1px 3px #999999;
	-webkit-box-shadow:inset 1px 1px 3px #999999;
	background-position: 2px 2px;
}

.col_menubar .sbtn {
	border-color: #005b89;
	background-color: #008ab8;
}

.col_menubar .sbtn span, .col_menubar .sbtn:active span, .col_menubar .sbtn_active span {
	color:white;
}

.col_menubar .sbtn_active, .col_menubar .sbtn:active {
	background-color:#006699;
	border-color: #004162;

	box-shadow:inset 1px 1px 3px #00334d;
	-moz-box-shadow:inset 1px 1px 3px #00334d;
	-webkit-box-shadow:inset 1px 1px 3px #00334d;
}

.col_menubar .newtopic {
	background-image: url(../../images/comments_add.png);
}

.col_menubar .markread {
	background-image: url(../../images/ready.png);
}

.col_menubar .throbb {
	background-image: url(../../images/throbber-white.gif);
}

#debug_toggle{
	background-image: url(../../images/bug.png);
}

.noselect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:e-resize;
	background-color:#AAAAAA;
}

#app_frame_table {
	width:100%;
	height:100%;
}

.global_column {
	vertical-align:top;
	color:black;
	background:white;

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

.shadow {
	box-shadow:4px 4px 5px #888888;
	-moz-box-shadow:4px 4px 5px #888888;
	-webkit-box-shadow:4px 4px 5px #888888;
}

.col_resizer {
	width: 15px;
	cursor: e-resize;
	background:url(../../images/e-resize.gif) center no-repeat;
}

.fixer {
	width:15px;
}

td.collapsed {
	cursor:pointer;
	background:white url(../../images/arrow-right.gif) center no-repeat;
}

.collapsed .column_inner {
	display: none;
}

.collapser {
	width:13px;
	float:left;
	background:url(../../images/arrow-left-a.gif) center no-repeat;
	cursor:pointer;
	border-right:1px dotted #DDDDDD;
}

.collapser:hover, .collapsed:hover {
	background-color:#EEEEEE;
}

#menu_unhide {
	background:white url(../../images/arrow-right.gif) center no-repeat;

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;

	margin-right:9px;
	width:14px;
}

.top_bars {

	background-color:#006699;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0097c3), to(#006699));
	background-image: -moz-linear-gradient(top, #0097c3, #006699);
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0, StartColorStr='#0097c3', EndColorStr='#006699');

	border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;

}

.col_titlebar {
	height:18px;
	color:white;
	font-weight:bold;
	padding:4px 6px 0 22px;
	background-image: url(../../images/ready.png);
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

.title_edit {
	background-color:#008ab8;
}

.throbber {
	background: url(../../images/throbber-big.gif) center no-repeat;
	height: 50px;
}

.col_menubar {
	height:24px;
	padding: 2px 10px;
}

.col_statusbar {
	height:16px;
	border-top:1px solid #CCCCCC;
	padding:3px 8px;
	overflow-y:auto;

	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;

	background-image: -webkit-gradient( linear, 0 0, 0 100%, from(#EEEEEE), to(#FFFFFF));
	background-image: -moz-linear-gradient(bottom, #FFFFFF, #EEEEEE);
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0, StartColorStr='#EEEEEE', EndColorStr='#FFFFFF');

}

.content{
	overflow-y:scroll;
	overflow-x:hidden;
}

.red {
	background: red;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

[type="menu"] {
	width:15%;
	min-width: 150px;
}

[type="users"] {
	width:15%;
	min-width: 150px;
}

[type="topics"] {
	width:30%;
	min-width: 250px;
}

[type="posts"] {
	min-width:250px;
}

.none {
	display: none;
}

.clear {
	cursor:auto;
	background:transparent;
}

.clearboth {
	clear:both;
}

#debug_depo {
	height:140px;
}

#debug_depo #debug_stash, #debug_depo #console {
	border:2px solid red;
	padding:8px;
	height:120px;
	overflow:auto;
}

.debug {
	border-bottom:2px dotted #888888;
}

.subtext {
	color:#888888;
	font-size: 10px;
}

.subtext a {
	color:#555555;
	font-size: 10px;
}

.w80 {
	width: 80%;
}

.invis {
	visibility: hidden;
}

.reveal {
	visibility: hidden;
}

.revealer:hover .reveal {
	visibility: visible;
}

.reveal2 {
	visibility: hidden;
}

.revealer2:hover .reveal2 {
	visibility: visible;
}

.dim {
	background-color:#eeeeee;
}

.load_curtain {
	z-index:1000;
	background: white;
	position:absolute;
	width:100%;
	height: 100%;
	background: url(../../images/throbber-big.gif) center no-repeat;
}

#curtain {
	z-index:900;
	position:absolute;
	width:100%;
	background: black;
	opacity:0.65;
	filter:alpha(opacity=65);
}

#overdiv {
	position: absolute;
	z-index:910;
	width:100%;
}

#overdiv .window {
	background-color: white;

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;

	width: 600px;
	margin: auto;
	padding: 10px;
	margin-top: 50px;
}

#overdiv .close {
	background: url(../../images/close.png) no-repeat center;
	width:22px;
	height:22px;
	cursor: pointer;
}

#overdiv .title {
	color: #555;
	font-size: 16px;
}

#overdiv .overcontent {
	padding:20px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.tbar_waiting {background-image: url(../../images/waiting.png);}
.tbar_updating {background-image: url(../../images/updating.png);}
.tbar_throbber {background-image: url(../../images/throbber-white.gif);}