/* общие теги */
body { padding:0; margin:0; }
hr { border: 0 none; height: 1px; }

/* черная занавеска и окно на ней */
#curtain, #over_curtain	{ position:absolute; width:100%; }
#curtain		{ z-index:900; }
#over_curtain	{ z-index:910; }
#over_curtain .window { margin: auto; }


/* основное окно программы */
#app_area	{ overflow: hidden; }

.noselect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:e-resize;
	background-color:#AAAAAA;
}

#app_block { width:100%; height:100%; }

.global_column { vertical-align:top; }

.vport_resizer { cursor: e-resize; }

td.collapsed { cursor:pointer; }
.collapsed .column_inner { display: none; }
.collapser { float:left; cursor:pointer; }

.global_column .titlebar {
	background-image: url(../../images/ready.png);
	background-position: 3px 3px;
	background-repeat: no-repeat;
}
.global_column .tbar_waiting {background-image: url(../../images/waiting.png);}
.global_column .tbar_updating {background-image: url(../../images/updating.png);}
.global_column .tbar_throbber {background-image: url(../../images/throbber-white.gif);}



.global_column .statusbar {overflow-y:auto;}
.column_inner .contents{ overflow-y:scroll; overflow-x:hidden; }

#viewport_menu {
	width:15%;
	min-width:150px;
}

#viewport_topics {
	width:40%;
	min-width:300px;
}

#viewport_posts {
	min-width:300px;
}

#debug_console {
	height:140px;
}

#debug_console #debug_stash, #debug_console #console {
	border:2px solid red;
	padding:8px;
	height:120px;
	overflow:auto;
}

.debug {
	border-bottom:2px dotted #888888;
}

/* универсальные классы*/
.left		{ float:left; }
.right		{ float:right; }

.red		{ background: red; }
.blue		{ background: blue; }
.green		{ background: green; }

.subtext	{ color:#888888; font-size: 10px; }
.subtext a	{ color:#555555; font-size: 10px; }

.w80		{ width: 80%; }

.invis		{ visibility: hidden; }

.reveal, .reveal2, .reveal3 { visibility: hidden; }
.revealer:hover .reveal, .revealer2:hover .reveal2, .revealer3:hover .reveal3 { visibility: visible; }

.dim {background-color:#eeeeee;}

.throbber {
	background: url(../../images/throbber-big.gif) center no-repeat;
	height: 50px;
}
.pointer	{ cursor: pointer; }

.none		{ display: none; }

.clear		{ cursor:auto; background:transparent; }

.clearboth	{ clear:both; }

.noselect .shadow {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}