// переменные

@bottomOffset: 15px;

// функции

.nomp() {
	margin:0;
	padding:0;
}

.mp(@m, @p){
	margin:@m;
	padding:@p;
}

.background-color(@dec) {
	background-color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.background-color(@r, @g, @b) {
	background-color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.color(@dec) {
	color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.color(@r, @g, @b) {
	color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.border-color(@dec) {
	border-color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.border-color(@r, @g, @b) {
	border-color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.opacity(@decimal){
	opacity:@decimal;
	-moz-opacity:@decimal;
	-khtml-opacity:@decimal;
	-webkit-opacity:@decimal;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity="+(@decimal*100)+")";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(@decimal*100));
}

.width-scheme(){
	max-width: 1210px;
	min-width: 900px;
	width:80%;
}

// ПОЕХАЛИ

body {
	.nomp;
	.background-color(85);
	.color(20);
//	background-image:url('../../skins/clarity/images/bg1.jpg');
//	background-position: top center;
//	background-attachment: fixed;

//	overflow-y: scroll;
	overflow-y: hidden;
	font-family: Tahoma, Arial, serif;
	font-size: 13px;
}

#tinng-main {
	position:relative;
}

#curtain {
	.background-color(0);
	.opacity(0.7);
}

#dialogue {
	width: 50%;
//	height: 50%;
	margin:100px auto;
	min-width: 500px;
	max-width: 800px;
	min-height: 200px;

	header {
		height: 28px;
		position: absolute;
		width: 100%;
		background-color: white;
		top: -28px;

		.title {
			margin-right:30px;
			padding:5px 0 4px 10px;
			font-weight:bold;
			font-size:120%;
			color:#676767;
			overflow:hidden;
		}

		.close {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 150%;
			font-weight: bold;
			text-decoration: none;
			color: #777;
			padding: 3px;
			text-align: center;
			line-height: 90%;

			&:hover {
				color:white;
				background-color: #bbb;
			}
		}
	}

	section {
		padding:15px;
	}
}

#decoration-area {
	.width-scheme();
	margin:0 auto;
	position: relative;
	height:38px;
}

#tinng-main-header {

	.logo {
		display: inline-block;
		position: absolute;
		bottom:2px;
		left:0;

		img {
			height:28px;
		}
	}

	.signature {
		display: inline-block;
		color:#bbb;
		text-decoration:none;
		padding-left:10px;

		img {
			height:20px;
			margin-top:4px;
			vertical-align: bottom;
		}
	}

	.top-panel {
		height:28px;
		background-color: #222;
		color:white;
	}
}

#tinng-units-area {
	.width-scheme();
	background-color: white;
	margin:0 auto;
	height:100%;

	.scroll-area {
		height:100%;
		position: relative;
	}

	.unit {
		float:left;
		height:100%;
		position: relative;

		header {
			min-height: 28px;
			background-color:#0e5a91;
			border-right:1px solid;
			border-color:#1a69a8;
			position: relative;
			color:white;

			.button {
				border-radius: 0;
				border:none;
				color:white;
				margin:1px;

				&:hover {
					background-color: #2b7cbd;
				}
			}

			.topicname {
				font-size:110%;
				padding:3px 4px 2px 4px;
				border:1px dotted transparent;
				float:left;
				min-width: 200px;
				max-height: 100%;
				margin-left:2px;

				&[contenteditable="true"] {
					background-color: white;
					color:#444;
					border-color: #aaa;
				}
			}
		}

		&.posts {
			header {
				border:none;
			}
		}
	}
}

#tinng-main-footer {
	height:@bottomOffset;
}

#tinng-top-login {
	margin-top:1px;

	input[type="text"], input[type="password"] {
		border:0;
		padding:2px 5px;
		margin: 0 2px;
		color:white;
		background-color: #777;
	}

	input[type="checkbox"] {
		margin:0 3px 3px 3px;
		vertical-align: middle;
	}
}

/* Декоративные псевдо-тени */
.unit header::after, .topics footer::after, .editor::after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: #555;
	position: absolute;
	opacity: 0.2;
	z-index: 10;
}

.unit header::after {
	bottom: -3px;
}

.topics footer::after {
	bottom: 0;
}

.editor::after {
	top: -3px;
}


/* Индикатор активности */
.state-ind {
	margin:6px 6px 0 5px;
}

/* topics & posts (global) */
.content {
	padding-top:3px;
	background-color: #ddd;

	.node {
		border:2px solid transparent;
		margin-bottom:4px;
		background-color: white;
		position: relative;
	}

	.data_cell {
		margin:10px;
	}

	.msgid {
		margin-right:5px;
		color:#ccc;
	}

	.author {
		margin-right:5px;
	}

	.topic {
		cursor:pointer;

		&.active {
			background-color: #EAFFE8;
			border-color:#EAFFE8;
		}

		.message {
			height: 2.5em;
			overflow-y: hidden;
			font-size:85%;
		}

		.created {
			font-size: 11px;
		}

		.topicname {
			margin: 5px 0;
			font-size:14px;
			color:#007bb7;
		}

		.lastmessage > div {
			border-top:1px solid #ddd;
			margin-top: 5px;
			padding-top: 5px;
			height: 2.5em;
			overflow-y: hidden;
			font-size:85%;
		}
	}

	.post {

		&.selected {
			border-color:#9acd32;
		}

		.data_cell {
			margin-left:58px;
		}

		.avatar {
			position:absolute;
			top:0;
			left:0;
		}

		.infobar {
			border-bottom:1px solid #ddd;
			margin-bottom: 6px;
			padding-bottom: 3px;
		}

		.controls {
			margin-bottom:-5px;
			margin-right:-5px;
		}

		.message {
			border:1px dotted transparent;
			padding:3px;

			&[contenteditable="true"] {
				border-color: #aaa;
			}
		}
	}
}

#scaled-bg {
	position: fixed;
	z-index: -1;
	top:28px
}

.posts .showmore {
	height:20px;
	text-align: center;
	padding-top:7px;
	background-color: #ddd;
	display:none;
}

.posts .showmore a {
	margin: 0 5px;
}

/* editor */

#tinng-main .editor {
	bottom:@bottomOffset;
}

.editor-inner {
	padding:4px;
	background: #eee;
	border-top:1px solid #ddd;
}

.textarea-wrapper {
	background: white;
	border:1px solid #ccc;
	margin-bottom:4px;
	max-height: 200px;
	overflow-y: scroll;
	padding:1px;
}

.textarea {
	padding:4px 6px;
}

/* tags */
.tag {
	margin:7px 4px 0 0;
	border-radius: 2px;
}


/* панель и кнопки */

.panel {
	padding:3px;
	min-height: 24px;
}

.button {
	background-color: transparent;
	border:0;
	font-size:90%;
	padding: 4px 6px;
	opacity:0.8;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	height:14px;
	color:black;
	position: relative;

	&.with-icon {
		padding-left:17px;
	}
}

.button:hover {
	border-color: #ccc;
	background-color: #eaeaea;
	opacity:1;
}

.button:active {
	border-color: #ccc;
	background-color: #eee;
	opacity:1;
}

.button span {
	margin-left:4px;
}

.button .tip {
	position: absolute;
	opacity: 0.9;
	z-index: 1000;
}

.button.left .tip {left:0;}
.button.right .tip {right:0;}
.button.left .tip .tail {background-position: left bottom}
.button.right .tip .tail {background-position: right bottom}

.button .tip .body {
	background: black;
	color:white;
	font-weight: bold;
	font-size:90%;
	white-space: nowrap;
	padding:3px 6px;
	border-radius: 2px;
}

.button .tip .tail {
	height:5px;
	background: url('../../skins/clarity/images/tip-tail.gif') no-repeat center bottom;
}

.button.submit, .button.submit:active {
	opacity:1;
	color:white;
	font-weight: bold;
	border-color: #004162;
	background-image: -webkit-linear-gradient(top, #007bb7, #006299);
	background-color: #006299;
	background-position: top left;
	text-shadow:1px 1px #004162;
}

.button.submit:hover {
	background-image: -webkit-linear-gradient(top, #018bd3, #007bb7);
	background-color: #007bb7;
	border-color: #006299;
}

.unit header .button:active {
	opacity:0.75;
	background-color: #ccc;
}

.unit header .button .tip {
	opacity:0.7;
}

.button.blocked, .button.blocked:hover, .button.blocked:active {
	cursor:default;
	opacity:0.4 !important;
	border-color: transparent !important;
	background-color: transparent !important;
}

/* / */

.editor .title {
	display:none;
}

// Подстройка под разрешение
#tinng-main {

	&.low-res {

		#tinng-main-header .logo {

			bottom:1px;

			img {
				height:21px
			}
		}

		#decoration-area {
			height:0;
		}

		#tinng-main-footer {
			height:0;
		}

		.editor {
			bottom:0;
		}

		&.low-width {

			#tinng-main-header .signature {
				display:none;
			}

			#tinng-top-login {
				input[type="text"],  input[type="password"] {
					width:100px;
				}
			}
		}
	}

	&.high-res {

		#tinng-main-header .logo {
			bottom:4px;

			img {
				height:40px
			}
		}

		#decoration-area {
			height:70px;
		}

		#tinng-main-footer {
			height:25px;
		}

		.editor {
			bottom:25px;
		}
	}
}
