// переменные

@bottomOffset: 15px;

// функции

.nomp() {
	margin:0;
	padding:0;
}

.mp(@m, @p){
	margin:@m;
	padding:@p;
}

.background-color(@dec) {
	background-color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.background-color(@r, @g, @b) {
	background-color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.color(@dec) {
	color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.color(@r, @g, @b) {
	color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.border-color(@dec) {
	border-color:rgb(@dec*2.55, @dec*2.55, @dec*2.55);
}

.border-color(@r, @g, @b) {
	border-color:rgb(@r*2.55, @g*2.55, @b*2.55);
}

.opacity(@decimal){
	opacity:@decimal;
	-moz-opacity:@decimal;
	-khtml-opacity:@decimal;
	-webkit-opacity:@decimal;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity="+(@decimal*100)+")";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(@decimal*100));
}

.rotation(@deg){
	-ms-transform:rotate(@deg); /* IE 9 */
	-moz-transform:rotate(@deg); /* Firefox */
	-webkit-transform:rotate(@deg); /* Safari and Chrome */
	-o-transform:rotate(@deg); /* Opera */
}

.width-scheme(){
	max-width: 1210px;
	min-width: 900px;
	width:80%;
}

// ПОЕХАЛИ

body {
	.nomp;
	.background-color(85);
	.color(20);
//	background-image:url('../../skins/clarity/images/bg1.jpg');
//	background-position: top center;
//	background-attachment: fixed;

//	overflow-y: scroll;
	overflow-y: hidden;
	font-family: Tahoma, Arial, serif;
	font-size: 13px;
}

#tinng-main {
	position:relative;
}

#curtain {
	.background-color(0);
	.opacity(0.7);
}

#dialogue {
	width: 50%;
	margin:100px auto 80px auto;
	min-width: 500px;
	max-width: 800px;
	min-height: 200px;

	header {
		height: 28px;
		position: absolute;
		width: 100%;
		background-color: white;
		top: -28px;

		.title {
			margin-right:30px;
			padding:9px 0 0 14px;
			font-weight:bold;
			font-size:120%;
			color:#676767;
			overflow:hidden;
		}

		.close {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 150%;
			font-weight: bold;
			text-decoration: none;
			color: #777;
			padding: 4px;
			text-align: center;
			line-height: 90%;

			&:hover {
				color:white;
				background-color: #bbb;
			}
		}
	}

	section {
		padding:15px;
	}
}

#decoration-area {
	.width-scheme();
	margin:0 auto;
	position: relative;
	height:38px;
}

#tinng-main-header {

	.logo {
		display: inline-block;
		position: absolute;
		bottom:2px;
		left:0;

		img {
			height:28px;
		}
	}

	.top-panel {
		height:28px;
		background-color: #222;
		color:white;

		a {
			color:#56c4ff;
		}

		.button-link {
			display:inline-block;
			height:28px;

			&:hover {
				text-decoration: none;
				background-color: #444;
			}

			span {
				display:block;
				padding: 5px 8px;
			}
		}

		.signature {
			display: inline-block;
			color:#bbb;
			text-decoration:none;
			padding-left:10px;

			img {
				height:20px;
				margin-top:4px;
				vertical-align: bottom;
			}
		}

		.portrait {
			height:26px;
			display:inline-block;
			vertical-align: middle;
			margin-right:8px;
		}
	}
}

@labelWidth: 24px;

#tinng-main-content {
	position: relative;
	overflow-x: hidden;

	.unit-panel {
		position: absolute;
		height: 100%;
		width: 250px;
		z-index: 100;

		&.panel-left {
			left:0;
			box-shadow: 2px 0 40px #000;

			.label {
				right:-@labelWidth;
				.text {
					.rotation(270deg)
				}
			}
		}

		&.panel-right {
			right:0;
			box-shadow: -2px 0 40px #000;

			.label {
				left:-@labelWidth;
				.text {
					.rotation(90deg)
				}
			}
		}

		.unit-portal {
			height: 100%;
			background-color: white;
		}

		.label {
			position: absolute;
			top:30px;
			background-color: black;
			color:white;
			opacity: 0.7;
			width: @labelWidth;
			height:100px;
			cursor: pointer;
			overflow: hidden;

			.text {
				position: absolute;
				top:40px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				font-family: sans-serif;
			}
		}
	}

	.scroll-area {
		height:100%;
		position: relative;

		&.loading {
			background-image: url('../../stock/images/throbber_big.gif');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

.unit {
	height:100%;
	position: relative;

	header {
		min-height: 28px;
		background-color:#0e5a91;
		border-right:1px solid;
		border-color:#1a69a8;
		position: relative;
		color:white;

		.title {
			font-size:110%;
			padding:2px 4px;
			font-weight: bold;
		}

		.button {
			border-radius: 0;
			border:none;
			color:white;
			margin:1px;

			&:hover {
				background-color: #2b7cbd;
			}
		}

		.topicname {
			font-size:110%;
			padding:2px 4px;
			border:1px dotted transparent;
			min-width: 200px;
			max-height: 100%;
			margin-left:2px;
			margin-right:30px;

			&[contenteditable="true"] {
				background-color: white;
				color:#444;
				border-color: #aaa;
				min-height: 18px;
			}
		}

		.allowedUsers {
			min-height: 25px;
			background-color: #fff;
			clear:both;
			margin-top: 3px;
			overflow-x: hidden;

			.user {
				float:left;
				padding: 2px;
				cursor:pointer;

				.avatar {
					display: block;
					width: 25px;
					height: 25px;
				}
			}
		}
	}

	&.posts {
		header {
			border:none;
		}
	}

	&.users {
		.user {
			background-color: #fff;
			cursor: pointer;
			padding: 1px 3px;

			.name {
				padding: 3px 6px;
				font-weight: bold;
				color:#1a69a8;
				float:left;
			}

			.avatar {
				width: 25px;
				height: 25px;
				float:left;
			}
		}

		.offlineList {
			.user {
				.name {
					color:#999;
				}

				.avatar {
					.opacity(0.5)
				}
			}
		}
	}

	&.navigation {
		.tagArea {
			background-color: #fff;
			padding: 8px;
		}
	}
}

#tinng-units-area {
	.width-scheme();
	background-color: white;
	margin:0 auto;
	height:100%;

	.unit {
		float: left;
	}
}

#tinng-main-footer {
	height:@bottomOffset;
}

#tinng-top-login {

	input[type="text"], input[type="password"] {
		border:0;
		padding:2px 5px;
		margin: 0 2px;
		color:white;
		background-color: #777;
	}

	input[type="checkbox"] {
		margin:0 3px 3px 3px;
		vertical-align: middle;
	}
}

#doLogin {
	margin:10px;
	padding:4px 8px;
	cursor:pointer;
}

/* Декоративные псевдо-тени */
.unit header::after, .topics footer::after, .editor::after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: #555;
	position: absolute;
	opacity: 0.2;
	z-index: 10;
}

.unit header::after {
	bottom: -3px;
}

.topics footer::after {
	bottom: 0;
}

.editor::after {
	top: -3px;
}


/* Индикатор активности */
.state-ind {
	margin:6px 6px 0 5px;
}

/* topics & posts (global) */
.content {
	padding-top:3px;
	background-color: #ddd;

	.tags {
		.tag {
			margin: 7px 4px 0 0;
		}
	}

	.node {
		border:0px solid transparent;
		margin-bottom:4px;
		background-color: white;
		position: relative;

		.smart-search {

			margin: 0;

			input[type="text"] {
				border: 1px solid #ccc;
				width: 100px;
				margin: 6px 0 0;
			}

			.smart-area {
				.tag {
					margin: 7px 4px 0 0;
					padding: 2px 4px;
				}
			}

			.suggest-box {
				.tag {
					float:none;
				}
			}
		}
	}

	.data_cell {
		padding:10px;
	}

	.msgid {
		margin-right:5px;
		color:#ccc;
	}

	.author {
		margin-right:5px;
	}

	.tags-edit {
		display: none;
	}

	.menuBtn {
		width:16px;
		height:16px;
		margin-left:5px;
		background:url(../../skins/clarity/images/menu_drop.png);
		position: relative;

		&:hover {
			background-color: #eee;
		}
	}

	.dropmenu {
		position: absolute;
		background: #fff;
		border: 1px #ccc solid;
		z-index: 100;
		right: 0;

		.button {
			display:block;
		}
	}

	.topic {
		cursor:pointer;
		border-left-width:10px;

		&.active {
			border-color:#9acd32;
			background-image: url(../../skins/clarity/images/active_topic_pointer.png);
			background-repeat: no-repeat;
			background-position: left center;
		}

		.data_cell {
			padding-left:18px;
		}

		.message {
			height: 2.5em;
			overflow-y: hidden;
			font-size:85%;
		}

		.created {
			font-size: 11px;
		}

		.topicname {
			margin: 5px 0;
			font-size:14px;
			color:#007bb7;
		}

		.lastmessage > div {
			border-top:1px solid #ddd;
			margin-top: 5px;
			padding-top: 5px;
			height: 2.5em;
			overflow-y: hidden;
			font-size:85%;
		}
	}

	.post {
		border-right-width:10px;

		&.selected {
			border-color:#9acd32;
		}

		.data_cell {
			padding-left:58px;
		}

		.infobar {
			border-bottom:1px solid #ddd;
			margin-bottom: 6px;
			padding-bottom: 3px;

			.avatar {
				position:absolute;
				top:0;
				left:0;

				img {
					width:50px;
					height:50px;
					display: block;
				}
			}
		}

		.controls {
			margin-bottom:-5px;
			margin-right:-5px;
		}

		.message {
			border:1px solid;
			border-color:transparent;
//			border-color:transparent transparent #eee transparent;
			padding:3px;

			&[contenteditable="true"] {
				border-color: #aaa;
				border-style: dotted;
			}
		}
	}

	.unread {
		border-color: #ffbc1c;
		background-color: #fff6df;
	}
}

.isOnline {
	position: absolute;
	bottom: 0;
	right: 0;
	border:solid white;
	border-width: 1px 0 0 1px;
	width: 6px;
	height: 6px;
	background-color: #9acd32;
	display:none;
}


.topic-edit {
	background-color: #fff;
	padding-top:5px;

	.row {
		margin:20px;
	}

	input[type="text"] {

	}

	label {

		display:block;
		margin-right:20px;

		span {
			font-size: 85%;
			color:#777;
		}
	}

	.title {
		font-size: 120%;
		font-weight: bold;
		padding: 0.3em 0.5em;
		border: 1px solid;
		border-color: #ccc #ccc #eee #ccc;
		width: 100%;
	}

	textarea {
		width:100%;
		min-height: 100px;
		padding: 0.3em 0.5em;
		border: 1px solid;
		border-color: #ccc #ccc #eee #ccc;
		font-family: sans-serif;
	}

	.smart-search {

		input[type="text"] {
			padding: 0.3em 0.5em;
			border: 1px solid;
			border-color: #ccc #ccc #eee #ccc;
		}

		.smart-area .tag {
			margin-right: 7px;
			padding: 4px 7px;
		}
	}
}

#scaled-bg {
	position: fixed;
	z-index: -1;
	top:28px
}

.posts .showmore {
	height:20px;
	text-align: center;
	padding-top:7px;
	background-color: #ddd;
	display:none;
}

.posts .showmore a {
	margin: 0 5px;
}

/* editor */

#tinng-main .editor {
	bottom:@bottomOffset;
}

.editor-inner {
	padding:4px;
	background: #eee;
	border-top:1px solid #ddd;
}

.textarea-wrapper {
	background: white;
	border:1px solid #ccc;
	margin-bottom:4px;
	max-height: 200px;
	overflow-y: auto;
	padding:1px;
}

.textarea {
	padding:4px 6px;
	min-height: 1.4em;
}

/* tags */
.tag {
	margin:1px 4px 1px 0;
	border-radius: 2px;
	display:inline-block;
	background-color: #007bb7;
	padding: 2px 4px;
	border-radius: 0;
	position: relative;

	.close {
		cursor:pointer;
		opacity:0.5;

		&:hover {
			opacity:1;
		}
	}

	&.operational .name {
		padding-left: 12px;
	}

	.operation {
		background: white;
		color: #777;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 11px;
		text-align: left;
	}

	&.unused {
		.opacity(0.5);
	}
}


/* панель и кнопки */

.panel {
	padding:3px;
	min-height: 24px;
}

.button {
	background-color: transparent;
	border:0;
	font-size:90%;
	padding: 4px 6px;
	opacity:0.8;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	height:14px;
	color:black;
	position: relative;

	&.with-icon {
		padding-left:17px;
	}
}

input[type="submit"], input[type="button"] {
	height:auto;
}

input[type="button"] {
	background-color: #eee;
}


.button:hover {
	border-color: #ccc;
	background-color: #eaeaea;
	opacity:1;
}

.button:active {
	border-color: #ccc;
	background-color: #eee;
	opacity:1;
}

.button span {
	margin-left:4px;
}

.button .tip {
	position: absolute;
	opacity: 0.9;
	z-index: 1000;
}

.button.left .tip {left:0;}
.button.right .tip {right:0;}
.button.left .tip .tail {background-position: left bottom}
.button.right .tip .tail {background-position: right bottom}

.button .tip .body {
	background: black;
	color:white;
	font-weight: bold;
	font-size:90%;
	white-space: nowrap;
	padding:3px 6px;
	border-radius: 2px;
}

.button .tip .tail {
	height:5px;
	background: url('../../skins/clarity/images/tip-tail.gif') no-repeat center bottom;
}

.button.submit, .button.submit:active {
	opacity:1;
	color:white;
	font-weight: bold;
	border-color: #004162;
	background-image: -webkit-linear-gradient(top, #007bb7, #006299);
	background-color: #006299;
	background-position: top left;
	text-shadow:1px 1px #004162;
}

.button.submit:hover {
	background-image: -webkit-linear-gradient(top, #018bd3, #007bb7);
	background-color: #007bb7;
	border-color: #006299;
}

.unit header .button:active {
	opacity:0.75;
	background-color: #ccc;
}

.unit header .button .tip {
	opacity:0.7;
}

.button.blocked, .button.blocked:hover, .button.blocked:active {
	cursor:default;
	opacity:0.4 !important;
	border-color: transparent !important;
	background-color: transparent !important;
}

/* / */

.editor .title {
	display:none;
}

.posts-default {
	background-color: white;
	text-align: center;
	padding:180px 20px 20px 20px;
	color:#777;
}

.user-reg {

	input {

		&[type="text"], &[type="password"] {
			border:1px solid #ccc;
			padding:2px 4px;
		}
	}
}

#message-bar {

	z-index:1000;
	width:100%;
	position:absolute;
	top:0;
	display:none;
	cursor:pointer;
	background-color: #eee;
	border-bottom:1px solid #777;

	.message {
		.width-scheme();
		margin:0 auto;
		padding:10px 0;
		height:16px;
		overflow:hidden;
	}
}

.dimmed {
	opacity:0.3;

	&:hover {
		opacity:1;
	}
}

#passForget {
	cursor:pointer;
}

// Подстройка под разрешение
#tinng-main {

	&.low-res {

		#tinng-main-header .logo {

			bottom:1px;

			img {
				height:21px
			}
		}

		#decoration-area {
			height:0;
		}

		#tinng-main-footer {
			height:0;
		}

		.editor {
			bottom:0;
		}

		&.low-width {

			#tinng-main-header .signature {
				display:none;
			}
		}

		#dialogue {
			width: 65%;
			margin:60px auto 35px auto;
		}
	}

	&.high-res {

		#tinng-main-header .logo {
			bottom:4px;

			img {
				height:40px
			}
		}

		#decoration-area {
			height:80px;
		}

		#tinng-main-footer {
			height:25px;
		}

		.editor {
			bottom:25px;
		}

		#dialogue {
			margin:140px auto 110px auto;
		}
	}
}

.smart-search {
	background-color: #fff;
	margin:1px 0 0 1px;
	position:relative;

	input {
		border:0;
		background: transparent;
		vertical-align: middle;
		padding:1px 3px;
	}

	.throbber {
		display: inline-block;
		margin: 0 4px;
		vertical-align: middle;
		visibility: hidden;
	}

	.smart-area {
		display: inline-block;
		vertical-align: middle;

		.tag {
			margin:0 0 0 2px;
			padding: 1px 3px;
		}
	}

	.suggest-box {
		position: absolute;
		min-width: 80px;
		max-width: 250px;
		min-height: 10px;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #fff;
		box-shadow: 0 3px 10px #bbb;
		z-index: 100;
		display:none;

		.item {
			&.active {
				background-color: #018bd3;
			}
		}

		.tag {
			cursor:pointer;
			margin:5px 8px;
		}
	}
}
