.nicEdit-panelContain{
	border: 0px solid #cccccc;
}

.nicEdit-main {
	background-color: white;
}

.topic, .post {
	border-bottom: 1px solid #cccccc;
	color:#555555;
	background-color: white;
}

.post {
	color:black;
}

.topicname {
	margin:2px 16px;
	padding:2px;
	border:1px dotted transparent;
	font-weight: bold;
	clear:both;
	border-top:1px dotted #DDDDDD;
}

.editabletopic:hover {
	background: url(../images/textfield_rename.png) right center no-repeat;
	cursor: text;
}

.topic:hover {
	background-color: #eeeeee;
	cursor: pointer;
	color:black;
}

.infobar {
	padding: 0 20px 0 20px;
	position: relative;
	height: 24px;
}

.post .infobar{
	padding-left: 56px;
}

.infobar .created {
	float:right;
	font-size: 10px;
	color:#cccccc;
	margin-top: 5px;
}

.infobar .author_email {
	float: left;
	font-weight: bold;
	color:#888888;
	margin-top: 5px;
}

.infobar .postcount {
	float: left;
	margin-top: 5px;
}

.infobar .msgid {
	float:left;
	color:#cccccc;
	margin-top: 5px;
}

.avatar {
	float:left;
	position: absolute;
	top:0;
	left:0;
}

.topic .message, .post .message {
	clear:both;
	line-height: 150%;
	padding:0 20px;
}
.post .message{
	border-top:1px dotted #DDDDDD;
	padding-top: 10px;
	border-left: 1px dotted #cccccc;
	margin-left: 47px;
}

.topic .message {
	color: #999999;
}

#continue_branch_btn {
	height: 14px;
	background: url(../images/comment_add.png) center no-repeat;
	padding: 3px;
}

#continue_branch_btn:hover {
	background-color: #eeeeee;
	cursor:pointer;
}

.continue_branch form, .add_message form {
	padding:3px 17px 3px 21px;
	background-color: #efefef;
}

.add_message {
	border-bottom:1px solid #cccccc;
}

.add_message .nicEdit-panelContain {
	border-bottom-width: 1px;
}

.continue_branch textarea, .add_message textarea {
	width: 100%;
}

.branched {
	border-left:40px solid #ccc;
}

.continue_branch .button {
	background-color: #fAfAfA;
}

.continue_branch .button:hover, .continue_branch .button:active, .continue_branch .btn_active {
	background-color: #dddddd;
}

.add_message .button {
	background-color: #fAfAfA;
}

.add_message .button:hover, .add_message .button:active, .add_message .btn_active {
	background-color: #dddddd;
}

#cancel_post {
	background-image: url(../images/cancel.png);
	float: right;
	margin-right: 0;
}

#send_post {
	background-image: url(../images/comment.png);
	float:left;
	margin-left: 0;
}

.throbber_gray {
	background: #ebebeb url(../images/throbber-gray.gif) center no-repeat;
	border:2px solid #ebebeb;
	color:#777777;
}

.nicEdit-edframe {
	background-color:white;
}

.brancher {
	border-left: 40px solid white;
	padding: 3px;
	background:url(../images/bullet_add.png) center right no-repeat;
	height: 12px;
}

.brancher:hover {
	background:#eeeeee url(../images/comments_add.png) center right no-repeat;
	border-color: #cccccc;
	cursor:pointer;
}

.post .controls, .topic .controls {
	margin: 6px 10px;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

.controls .sbtn {
	float:right;
}

.controls .addbranch	{ background-image: url(../images/branch.png); }
.controls .plainanswer	{ background-image: url(../images/arrow_down.png); display:none; }
.controls .editmessage	{ background-image: url(../images/comment_edit.png); }
.controls .deletemessage{ background-image: url(../images/comment_delete.png); }
.controls .cancel		{ background-image: url(../images/cancel.png); }
.controls .save			{ background-image: url(../images/accept.png); }
.controls .collex		{ background-image: url(../images/collapse.png); float:left;}

.lastblock .addbranch {display:none;}
.lastblock .plainanswer {display:block;}

.controls .explain {
	float:left;
	padding: 3px;
}

.edittopicname {
	background-color: white;
	border-color:#cccccc;
}

.topicname input {
	border:dotted #dddddd;
	border-width:0 1px 0 0;
	padding: 2px 1px;
	width: 90%;
	font-weight: bold;
}

.okbtn {
	float:right;
	width: 18px;
	height: 18px;
	background: url(../images/accept.png) center no-repeat;
}

.okbtn:hover {
	cursor:pointer;
}

.updating {
	color:#bbbbbb;
	background: url(../images/throbber-lit.gif) center no-repeat;
}

