<link rel="import" href="../node-message/node-message.html">
<link rel="import" href="../../decorators/node-topic-deco/node-topic-deco.html">

<polymer-element name="node-topic" extends="node-message" on-tap="{{onTap}}">

	<template>
		<style>

		</style>

		<node-topic-deco data="{{data}}" txt="{{txt}}">

			<block-author data="{{ {name: data.author, id: data.author_id, email: data.author_email} }}"></block-author>

			<span class="created">{{data.created}}</span>
			<span class="modified">{{data.modified}}</span>

			<span class="topic">{{data.topic_name}}</span>

			<div id="message">{{data.message}}</div>

			<template repeat="{{tag in data.tags}}">
				<block-tag data="{{tag}}">{{tag.name}}</block-tag>
			</template>

		</node-topic-deco>
	</template>

	<script>
		Polymer({

			publish:{
				private:{value:false, reflect:true}
			},

			computed:{
				'private':'!!+data.private'
			},

			onTap:function(){
				this.fire('topic-select', this.data);
				this.fire('core-signal', {name:'topic-select', data: this.data});
			}
		})
	</script>
</polymer-element>